p{
    font-size: 30px;
    font-family: ;
    font-style: ;
    text-align: center;
  
}
div{
    text-align: center;);
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: greenyellow;
}


