p {
    font-family: "gelica", sans-serif;
    font-weight: 200;
    font-style: normal;

}

div {
    text-align: left;

}

body {
    font-size: 25px;
    font-family: "gelica", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: greenyellow;
}

body.succes {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/Fondo-verde.avif");
}

.submit {
    text-align: center;

}

div.succes {

    text-align: center;
}
