p{
    font-size: 20px;
    color:antiquewhite;
}

h1{
    color: orange
}

body{background-color:darkslateblue;}

a:hover{color: cornsilk}

ul {
    color:white;
}
il {
    color:white;
}
a {
    color:lightskyblue;
}
antiquewhite
darkviolet