p{
    font-size: 20px;
    color:antiquewhite;
}

p.favorite{color: lightskyblue;font-size: 16px}
h1{
    color: orange
}

body{background-color:darkslateblue;}

a:hover{color: cornsilk}

ul {
    color:white;
}
il {
    color:white;
}
a {
    color:lightskyblue;
}
antiquewhit6
darkviolet